<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CommBank.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B8940D4A1E89083E00A22CD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8940D5E1E89083F00A22CD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8940D691E89083F00A22CD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
